<h3>Instructions how to play with your hands</h3>
<p>Play paper. Throw &#8220;paper&#8221; by extending your hand palm down with your fingers outstretched. Paper wins against rock, but loses to scissors. Paper is a good object to throw if you're undecided at the last second because there's usually more of a chance your opponent will play rock than scissors.</p>
<p>For more see this great link: <a href="http://www.wikihow.com/Play-Rock,-Paper,-Scissors" target="_blank">How to Play Rock, Paper, Scissors</a>.</p>
